mixin icon(id, name, click)
  object.icon(class=(click == 'noclick' ? '' : 'clickable ') + (attributes.class || ''), id=id, type='image/svg+xml', data='/img/icons/#{name}.svg', onclick=(click != 'noclick' && click || ''))
mixin toScript
  - var oldBuffer = buf;
  - buf = []
  - block()
  - var lines = buf.join('').split('\n');
  - buf = oldBuffer;
  each script in lines
    - script = script.trim();
    if script != ''
      if script.slice(-8) == ' dynamic'
        script(type='text/javascript', src=script.slice(0, -8))
      else
        script(type='text/javascript', src=script)
mixin toStyleSheet
  - var oldBuffer = buf;
  - buf = []
  - block()
  - var lines = buf.join('').split('\n');
  - buf = oldBuffer;
  each script in lines
    - script = script.trim();
    if script != ''
      if script.slice(-8) == ' dynamic'
        link(rel='stylesheet', type='text/css', href=script.slice(0, -8))
      else
        link(rel='stylesheet', type='text/css', href=script)

doctype html
html
  head
    link#favicon(rel='icon', type='image/png', href='/img/mesh.ico')
    link(href='/font/geometria/stylesheet.css', type='text/css', rel='stylesheet')
    link(href='/font/meshicons/stylesheet.css', type='text/css', rel='stylesheet')
    title Mesh - #{title}
    +toScript
      block scripts
    +toStyleSheet
      block css
  body
    block content
  