mixin icon(id, name, click)
  object.icon(class=(click == 'noclick' ? '' : 'clickable ') + (attributes.class || ''), id=id, type='image/svg+xml', data-='/img/icons/#{name}.svg', onclick=(click != 'noclick' && click || ''))
mixin toScript
  - var oldBuffer = buf;
  - buf = []
  - block()
  - var lines = buf.join('').split('\n');
  - buf = oldBuffer;
  each script in lines
    - script = script.trim();
    if script != ''
      if script.slice(0, 1) == '/'
        if script.slice(-8) == ' dynamic'
          script(type='text/javascript', src=url+script.slice(0, -8))
        else
          script(type='text/javascript', src=script.slice(1))
      else
        script(type='text/javascript', src=script)
mixin toStyleSheet
  - var oldBuffer = buf;
  - buf = []
  - block()
  - var lines = buf.join('').split('\n');
  - buf = oldBuffer;
  each script in lines
    - script = script.trim();
    if script != ''
      if script.slice(0, 1) == '/'
        if script.slice(-8) == ' dynamic'
          link(rel='stylesheet', type='text/css', href=url+script.slice(0, -8))
        else
          link(rel='stylesheet', type='text/css', href=script.slice(1))
      else
        link(rel='stylesheet', type='text/css', href=script)

doctype html
html.mobile
  head
    meta(charset='utf-8')
    meta(name='format-detection', content='telephone=no')
    meta(name='msapplication-tap-highlight', content='no')
    link(href=url+'/font/geometria/stylesheet.css', type='text/css', rel='stylesheet')
    //WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 
    meta#viewport(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height')
    title Mehs
    +toStyleSheet
      block css
  body
    block content
    script(type='text/javascript' src='cordova.js')
    script(type='text/javascript' src='js/RemoteControls.js')
    +toScript
      block scripts
    script(type='text/javascript') base = "#{url}";